.Header div:first-child {
  display: flex;
  justify-content: space-between;

}

.Header div:first-child ul {
  display: flex;
}

.Header div:first-child ul a {
  text-decoration: none;
padding-left: 20px;
color: #1b1b1b;


}

.Header div:first-child ul li {
  list-style : none
}
