.Sectionbody{
  display: flex;
  justify-content: space-around;

  align-items: flex-start;
  margin: 30px;
}
.Sectionbody div{
  align-content: space-between;

}
.Sectionbody div p{
padding: 15px;
}

.Sectionbody aside li {
  list-style: none;
  margin-bottom: 5px;
  margin: 10px 0;
  list-style-type: square;
}
